image: rancher/fluentd:{{build.tag}}
manifests:
  -
    image: rancher/fluentd:{{build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/fluentd:{{build.tag}}-windows-1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: rancher/fluentd:{{build.tag}}-windows-ltsc2022
    platform:
      architecture: amd64
      os: windows
      version: ltsc2022
